// created by Jack.Hu on 2020/09/16
//
//

// variable
$m1-con-1-footer-font-size: 2.5vmin;

// mixin
@mixin bg($url, $whiteMask: linear-gradient(rgba(255,255,255,1) ,rgba(255,255,255,.8),rgba(255,255,255,0)), $repeat: no-repeat, $color: #ffffff, ) {
  background-image: $whiteMask ,url($url);
  background-repeat: $repeat;
  background-color: $color;
  background-position: center;
}

// common
.bgp-iphone{
  background-position: -30px 0;
}
.bga-fixed{
  background-attachment: fixed;
}
.fs-05 {
  font-size: .5rem;
}
.fs-10 {
  font-size: 1rem;
}
.fs-15 {
  font-size: 1.5rem;
}
.fs-20 {
  font-size: 2rem;
}
.fs-25 {
  font-size: 2.5rem;
}
.fs-30 {
  font-size: 3rem;
}
.qrCode {
  width: 200px;
  height: 200px;
}
.goldColor {
  color: #D18F40;
}
.tipsBgcAndFontColor {
  background-color: #C97B2E;
  color: #ffffff;
  height: 220px;
}
.loader {
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}

html, body {
  // scroll snap.
  // scroll-snap-type: y mandatory;

  // stop under cover scrolling.
  height: 100%;
  overflow: hidden;

  // hidding scrollbar.
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

main, footer {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// M1 section-1
#m1-con-1 {
  .header-top {
    margin: 0 0 10% 0;
    .bgreen-logo-wrap {
      height: 100px;
      max-width: 75%;
      top: 50%;
      transform: translateY(-50%);
    }
    .y-maple-wrap {
      float: right;
      height: 130px;
      width: 130px;
    }
  }
  .header-bottom {
    .logo-maple {
      float: right;
      margin: 0 10% 0 0;
      height: 60%;
    }
    .title-pos {
      font-size: 6.5vmin;
      top: 20px;
      left: -20px;
    }
    .subtitle-pos {
      font-size: 3vmin;
      top: 30px;
      left: -60px;
    }
  }
  .content {
    margin: 5% 0 0 0;
    .r-maple-wrap {
      width: 25%;
      height: 100px;
      top: -40px;
    }
    .l-maple-wrap {
      bottom: -50px;
      right: 20px;
      width: 25%;
      height: 80px;
    }
  }
  .footer {
    .footer-title {
      text-align: center;
      margin: 0;
      font-size: $m1-con-1-footer-font-size;
    }
    .footer-subtitle {
      display: flex;
      text-align: center;
      margin: 0 auto;
      font-size: $m1-con-1-footer-font-size;
    }
    .furniture-logo {
      display: flex;
      position: relative;
      z-index: -1;
      top: 15px;
      margin: 0 auto;
      height: 120px;
    }
  }
}

// M1 section-2
#m1-con-2 {
  .bg-white-logo {
    opacity: 0;
  }
  .bg-white-line {
    opacity: 0;
  }
  #Rectangle_5 {
    opacity: 0;
  }
  .bgImg-wrap {
    @include bg("/images/jpg/background_phone.jpg", none);
    height: 812px;
    background-position: -220px 0;

    .w-maple-wrap {
      // margin: 70% 0 20% 40%;
    }
    .w-maple {
      top: 20%;
      left: 50%;
      transform: translateX(-40%);
      height: 120px;
    }
    .text-wrap {
      // margin: 40% 0 0 0;
      top: 60%;
      left: 20%;
      // padding: 0 0 0 50px;
    }
    h4 {
      letter-spacing: .4rem;
    }
    p {
      letter-spacing: .1rem;
      font-size: .9rem;
    }
  }
}

// M1 section-3
#m1-con-3 {
  .maples-wrap {
    width: 90%;
    height: 90%;
    z-index: -1;
    top: -10%;
    left: 10%;
  }
  .humanRope-wrap {
    width: 95%;
    height: 95%;
  }
  .contentGroup {
    letter-spacing: 1px;
    padding: 5% 5% 0 25%;
  }
  h4 {
    letter-spacing: 6px;
  }
}

// M1 section-4
#m1-con-4 {
  .bgImg-wrap {
    @include bg("/images/jpg/M1_P4_BK_S.jpg");
    background-size: cover;
    height: 600px;
  }
  .sticky-note {
    width: 60%;
    height: auto;
    top:50px;
    left:50px;
    z-index: 2;
  }
  .contentGroup {
    letter-spacing: 2px;
    padding: 5% 5% 0 5%;
  }
  .y-maple {
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translateX(-10%);
  }
  h4 {
    font-size: 6vmin;
    letter-spacing: 6px;
    padding: 5% 0 0 5%;
  }
}

// M1 section-5
#m1-con-5 {
  .r-maple-wrap {
    width: 100px;
    height: 100px;
  }
  .r-maple {
    top: -10%;
    transform: translateX(-70%);
    width: 100px;
    height: 100px;
  }
  .humanAndM1 {
    width: auto;
    height: 600px;
  }
  .footer-title {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 6vmin;
    letter-spacing: 6px;
    padding: 5% 0 0 5%;
  }
}

#m1-con-6 {
  .y-maple {
    width: 100px;
    height: 100px;
    transform: translateX(-70%);
  }
  .header-wrap {
    margin: 0 0 25% 0;
  }
  h4 {
    font-size: 6vmin;
    letter-spacing: 6px;
    span {
      color: #C97B2E;
    }
  }
}

#m1-sec-6 {
  .leafSize {
    width: 45px;
    height: 45px;
  }
  .leaf-1 {
    top: 28%;
    left: 20%;
  }
  .leaf-2 {
    top: 28%;
    left: 45%;
  }
  .leaf-3 {
    top: 10%;
    left: 60%;
    transform: rotate(180deg);
  }
  .leaf-4 {
    top: 10%;
    left: 80%;
    transform: rotate(180deg);
  }
}

#m1-con-7 {
  .r-maple {
    transform: translateX(-70%);
    width: 100px;
    height: 100px;
  }
  h4 {
    font-size: 6vmin;
    letter-spacing: 6px;
    padding: 5% 0 0 5%;
    span {
      font-size: 1.75rem;
    }
  }
}

#m1-con-8-2 {
  .y-maple {
    width: 100px;
    height: 100px;
    top: -10%;
    transform: translateX(-70%);
  }
  .motionLogo {
    width: 150px;
    height: 150px;
  }
  .photoStyle {
    width: 150px;
  }
  .motion2 {
    top: 100px;
  }
  .motion4 {
    top: -50px;
  }
  h4 {
    font-size: 6vmin;
    letter-spacing: 6px;
    padding: 5% 0 0 5%;
  }
}

#m1-con-9 {
  .box1 {
    background-color: #F8EBDC;
    border: 1px solid #F8EBDC;
    border-radius: 0 1% 1% 0;
    height: 220px;
    span {
      background-color: #C97B2E;
      color: #ffffff;
      border: 1px solid #C97B2E;
      border-radius: 50%;
    }
  }
  .box2 {
    border: 1px solid #A8A8A8;
    border-radius: 0 1% 1% 0;
    border-left-style: none;
    height: 160px;
  }
  .part-2 {
    .tipsBgcAndFontColor {
      height: 160px;
    }
  }
  .svg-photo-size {
    width: 300px;
    height: auto;
  }
  h4 {
    font-size: 6vmin;
    letter-spacing: 6px;
    padding: 5% 0 0 0;
  }
  p {
    font-size: 1.15rem;
    letter-spacing: 2px;
    span {
      font-size: 1.25rem;
    }
  }
}

#m1-con-10 {
  .r-maple-wrap {
    width: 100px;
    height: 100px;
  }
  .r-maple {
    top: -10%;
    transform: translateX(-70%);
    width: 100px;
    height: 100px;
  }
  .subTitile {
    font-size: 5vmin;
  }
  .maples {
    width: 283px;
    height: 450px;
  }
  .drChen-wrap {
    top: 30px;
    left: 18px;
    width: 300px;
  }
  .drChen {
    width: 265px;
    height: auto;
  }
  .rectangle17-wrap {
    bottom: -130px;
    left: 30px;
    z-index: -1;
  }
  .rectangle17 {
    width: 280px;
    height: 380px;
  }
  .content-wrap {
    bottom: -33%;
    left: 25%;
    span {
      font-size: 1.5rem;
    }
  }
  .drChen-intro {
    margin: 0 0 0 7%;
    p {
      span {
        color: #D09144;
      }
    }
  }
  h4 {
    font-size: 6vmin;
    letter-spacing: 6px;
    padding: 5% 0 0 5%;

    &.slogan {
      color: #D09144;
      padding: 5% 0 5% 0;
    }
  }
}

#m1-con-11 {
  .upperTitle-wrap {
    p {
      font-size: 10px;
      letter-spacing: 2px;
      span {
        font-size: 7vmin;
      }
    }
  }
  .m1-wrap {
    width: 100%;
    height: auto;
  }
  .middleTitle-wrap {
    p {
      font-size: 6vmin;
      letter-spacing: 2px;
    }
  }
}

#m1-con-12-1 {
  .bgImg-wrap {
    background-color: #D29144;
    height: 600px;
    h2 {
      font-size: 1.25rem;
    }
    p {
      margin: 0 0 3px 0;
    }
  }
  .contactUs {
    top: -25px;
    font-size: 2.75vmin;
  }
  .backCoverLogo-wrap {
    margin: 30% 0 30% 0;
  }
  .backCoverLogo {
    width: 150px;
    height: 150px;
    animation: goldenMapleLogoAnime 5s linear infinite;
  }
  .backCoverTitle {
    letter-spacing: 1px;
  }
  .backCoverSubTitle {
    font-size: 4vmin;
    letter-spacing: 1px;
  }
}

#m1-con-12-2 {
  .footer {
    p {
      font-size: 4vmin;
      span {
        font-size: 1.25rem;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .fs-md-05 {
    font-size: .5rem;
  }
  .fs-md-10 {
    font-size: 1rem;
  }
  .fs-md-15 {
    font-size: 1.5rem;
  }
  .fs-md-20 {
    font-size: 2rem;
  }
  .fs-md-25 {
    font-size: 2.5rem;
  }
  .fs-md-30 {
    font-size: 3rem;
  }
  .qrCode {
    width: 100px;
    height: 100px;
  }


  // M1 section-1
  #m1-con-1 {
    .header-top {
      margin: 0 0 4% 0;
      .bgreen-logo-wrap {
        height: 100%;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
      .y-maple-wrap {
        position: relative;
        top: 30px;
        float: none;
        height: 100%;
        width: 100%;
      }
      .bgreen-logo {
        margin: 0 0 0 10%;
      }
      .y-maple {
        margin: 0 0 0 40%;
      }
    }
    .header-bottom {
      .logo-maple {
        position: relative;
        left: -30px;
        float: right;
        margin: 0 10% 0 0;
        height: 120%;
      }
      .title-pos {
        font-size: 6vmin;
        top: 45px;
        left: -45px;
      }
      .subtitle-pos{
        font-size: 2.5vmin;
        top: 45px;
        left: -65px;
      }
    }
    .content {
      margin: 13% 0 0 0;
      .r-maple-wrap {
        width: 25%;
        height: 100px;
        top: -20px;
        left: -40px;
      }
      .l-maple-wrap {
        bottom: -10px;
        right: -40px;
        width: 20%;
        height: 80px;
      }
    }
    .footer {
      .footer-title {
        position: relative;
        top: 75px;
        left: -8.5vmin;
        text-align: center;
        font-size: 2.20vmin;
      }
      .footer-subtitle {
        display: flex;
        position: relative;
        top: -20px;
        left: -10px;
        margin: 0 auto;
        text-align: center;
        font-size: 2.4vmin;
      }
      .furniture-logo {
        display: flex;
        position: static;
        margin: 0 auto;
        height: 140px;
      }
    }
  }

  // M1 section-2
  #m1-con-2 {
    .bg-white-logo {
      opacity: 0;
    }
    .bg-white-line {
      opacity: 0;
    }
    #Rectangle_5 {
      opacity: 0;
    }
    .bgImg-wrap {
      @include bg("/images/jpg/background.jpg", none);
      height: 1024px;

      .w-maple-wrap {
        // margin: 38% 0 0 53%;
      }
      .w-maple {
        top: 30%;
        left: 50%;
        transform: none;
        height: 180px;
      }
      .text-wrap {
        // margin: 15% 0 0 0;
        top: 60%;
        left: 0;
        padding: 0 0 0 38%;
      }
      h4 {
        letter-spacing: .5rem;
        font-size: 1.75rem;
      }
      p {
        letter-spacing: .25rem;
        font-size: 1.2rem;
      }
    }
  }

  // M1 section-3
  #m1-con-3 {
    .maples-wrap {
      width: 90%;
      height: 90%;
      z-index: -1;
      top: -12%;
      left: 10%;
    }
    .maples {
      width: 100%;
      height: 100%;
    }
    .humanRope-wrap {
      width: 95%;
      height: 95%;
    }
    .humanRope {
      width: 100%;
      height: 100%;
    }
    .contentGroup {
      font-size: 1.3rem;
      letter-spacing: 2px;
      padding: 5% 5% 0 5%;
    }
    .subtitle {
      font-size: 3vmin;
    }
    .author {
      font-size: 3vmin;
    }
    h4 {
      font-size: 6vmin;
      letter-spacing: 6px;
    }

  }

  // M1 section-4
  #m1-con-4 {
    .bgImg-wrap {
      @include bg("/images/jpg/M1_P4_BK_S.jpg", "round");
      height: 768px;
    }
    .contentGroup {
      font-size: 1.25rem;
    }
    .sticky-note {
      width: 50%;
    }
    .y-maple {
      width: 100%;
      height: 150px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // M1 section-5
  #m1-con-5 {
    .r-maple-wrap {
      width: 150px;
      height: 150px;
    }
    .r-maple {
      width: 150px;
      height: 150px;
    }
    .humanAndM1 {
      height: 768px;;
    }
    .footer-title {
      font-size: 2rem;
    }
  }

  #m1-con-6 {
    .y-maple {
      width: 150px;
      height: 150px;
      transform: translateX(-70%);
    }
    h4 {
      font-size: 6vmin;
      letter-spacing: 6px;
      span {
        font-size: 4vmin;
        color: #C97B2E;
      }
    }
    p {
      font-size: 2.5vmin;
    }
  }

  #m1-sec-6 {
    .leafSize {
      width: 90px;
      height: 90px;
    }
  }

  #m1-con-7 {
    .r-maple {
      transform: translateX(-70%);
      width: 150px;
      height: 150px;
    }
    h4 {
      font-size: 6vmin;
      letter-spacing: 6px;
      padding: 5% 0 0 5%;
      span {
        font-size: 4.5vmin;
      }
    }
    p {
      font-size: 2.5vmin;
    }
  }

  #m1-con-8-1 {
    .y-maple {
      width: 150px;
      height: 150px;
      top: -10%;
      transform: translateX(80%);
    }
    .photoStyle {
      width: 225px;
    }
    .motionLogo {
      width: 150px;
      height: 150px;
    }
    h4 {
      font-size: 6vmin;
      letter-spacing: 6px;
      padding: 5% 0 0 5%;
    }
    p {
      font-size: 3vmin;
    }
  }

  #m1-con-9 {
    .box1 {
      height: 220px;
    }
    .box2 {
      height: 220px;
    }
    .part-2 {
      .tipsBgcAndFontColor {
        height: 220px;
      }
    }
  }

  #m1-con-10 {
    .r-maple-wrap {
      width: 100px;
      height: 100px;
    }
    .r-maple {
      top: -10%;
      transform: translateX(-70%);
      width: 150px;
      height: 150px;
    }
    .subTitile {
      font-size: 5vmin;
    }
    .maples {
      width: 400px;
      height: 580px;
    }
    .drChen-wrap {
      top: 30px;
      left: 50px;
      width: 350px;
    }
    .drChen {
      width: 350px;
      height: auto;
    }
    .rectangle17-wrap {
      bottom: -140px;
      left: 70px;
      z-index: -1;
    }
    .rectangle17 {
      width: 350px;
      height: 500px;
    }
    .content-wrap {
      bottom: -28%;
      left: 45%;
      span {
        font-size: 3vmin;
      }
    }
    .drChen-intro {
      margin: 0;
      p {
        font-size: 2.5vmin;
        span {
          color: #D09144;
        }
      }
    }
    .slogan {
      color: #D09144;
      font-size: 4vmin;
      letter-spacing: 10px;
    }
    h4 {
      font-size: 6vmin;
      letter-spacing: 6px;
      padding: 5% 0 0 5%;

      &.slogan {
        color: #D09144;
        padding: 5% 0 5% 0;
      }
    }
  }

  #m1-con-11 {
    .upperTitle-wrap {
      p {
        font-size: 24px;
        letter-spacing: 3px;
        span {
          font-size: 6vmin;
        }
      }
    }
    .m1-wrap {
      width: 600px;
      height: 400px;
    }
    .middleTitle-wrap {
      p {
        font-size: 36px;
        letter-spacing: 3px;
      }
    }
  }

  #m1-con-12-1 {
    .bgImg-wrap {
      background-color: #D29144;
      height: 768px;
      h2 {
        font-size: 2rem;
      }
      p {
        margin: 0 0 3px 0;
      }
    }
    .contactUs {
      top: -25px;
      font-size: 2.75vmin;
    }
    .backCoverLogo-wrap {
      margin: 15% 0;
    }
    .backCoverLogo {
      width: 300px;
      height: 300px;
    }
    .backCoverTitle {
      letter-spacing: 3px;
    }
    .backCoverSubTitle {
      font-size: 2.5vmin;
      letter-spacing: 2px;
    }
  }

  #m1-con-12-2 {
    .footer {
      padding: 0;
      p {
        font-size: 2vmin;
        span {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #m1-con-10 {
    .content-wrap {
      bottom: -29%;
      left: 28%;
    }
  }
}

// animate
@keyframes goldenMapleLogoAnime {
  0% {
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
  50% {
    filter: drop-shadow(0px 0px 50px #ffffff);
  }
  100% {
    filter: drop-shadow(0px 0px 5px #ffffff);
  }
}